# Environment variables
.env
*.env
!.env.example

# Node modules
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc